<div class="container">
  <center>

    <h1> Finish!</h1>

  <h2> Correct Answer: </h2><br><br>
  <p> <%= @statistic.correct %> </p> <br><br>
  <h2> Wrong Answer: </h2><br><br>
  <p> <%= @statistic.wrong %> </p> <br><br>
  <a href= "/sign_out" >Sign out</a>
  <a href= "/another_round" >Another Round</a>
  <br>

</center>
</div>