<div class="container">
  <h1>Welcome to FlashCard Games!</h1>
  <p>Please Sign In!</p>


<h2> Sign In </h2>
  <form action="/login" method="post">
  <input type="text" name="post[full_name]">
  <input type="password" name="post[password]">
  <input type="submit" value="Sign In!">
  </form>

</div>
