<div class="container">
  <center>
  <h1>FlashCard Games!</h1>
  <p>Please Login</p>

  <form action="/login" method="post">
  <input type="text" name="post[email]" placeholder="Email:"><br><br>
  <input type="password" name="post[password]" placeholder="Password:"><br><br>
  <input type="submit" value="Log In">
  </form>

<center>
</div>
