<div class="container">
  <h1>Welcome to FlashCard Games!</h1>
  <p>Please Sign In!</p>


<h2> Log In </h2>
  <form action="/login" method="post">
  <input type="text" name="post[full_name]"><br><br>
  <input type="password" name="post[password]"><br><br>
  <input type="submit" value="Log In">
  </form>

</div>
